[project]
	description = test number 2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alin-Andrei IORDAN (Alin-Andrei)
[access "refs/for/refs/*"]
	read = group user/Alin-Andrei IORDAN (Alin-Andrei)
	push = group user/Alin-Andrei IORDAN (Alin-Andrei)
	label-Code-Review = -2..+2 group user/Alin-Andrei IORDAN (Alin-Andrei)
	label-Verified = -1..+1 group user/Alin-Andrei IORDAN (Alin-Andrei)
	rebase = group user/Alin-Andrei IORDAN (Alin-Andrei)
	removeReviewer = group user/Alin-Andrei IORDAN (Alin-Andrei)
	submit = group user/Alin-Andrei IORDAN (Alin-Andrei)
[access "refs/heads/*"]
	read = group user/Alin-Andrei IORDAN (Alin-Andrei)
	create = group user/Alin-Andrei IORDAN (Alin-Andrei)
	push = +force group user/Alin-Andrei IORDAN (Alin-Andrei)
	pushMerge = group user/Alin-Andrei IORDAN (Alin-Andrei)
[access "refs/tags/*"]
	push = group user/Alin-Andrei IORDAN (Alin-Andrei)
	push = +force group user/Alin-Andrei IORDAN (Alin-Andrei)
